<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    {% if object %}
      <title>Edytuj usługę</title>
    {% else %}
      <title>Dodaj usługę</title>
    {% endif %}
  </head>
  <body>
    {% if object %}
      <h1>Edytuj usługę</h1>
    {% else %}
      <h1>Dodaj usługę</h1>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if object %}
        <button type="submit">Zapisz zmiany</button>
      {% else %}
        <button type="submit">Dodaj usługę</button>
      {% endif %}
    </form>
    <a href="{% url 'professionals:professional-detail' user.professional_profile.pk %}">Anuluj</a>
  </body>
</html>
